<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="navbar">
            <div class="container">
                <a class="logo" href="home.html"><span>Cory's</span> Portfolio</a>
                <img id="mobilecta" class="mobilemenu" src="{% static 'images/menu.svg' %}" alt="Open Navigation">
                <nav>
                    <img id="mobileexit" class="mobilemenuexit" src="{% static 'images/exit.svg' %}" alt="Close Navigation">
                    <ul>
                        <li class="navbarlist"><a href="home.html">Home</a></li>
                        <li class="navbarlist"><a href="about.html">About Me</a></li>
                        <li class="navbarlist"><a href="showcase.html">Showcase</a></li>
                        <li class="navbarlist"><a href="survey.html">Survey</a></li>
                        <li class="navbarlist"><a href="proinfo.html">Professional Info</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <section class="section1">
            <div class="container1">
                <div class="box1">
                    <p>A little more about me...</p>
                    <p class="titletwo">...and a little more about the page...</p>
                </div>
            </div>
        </section>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>

<!--
    All below is for reference.

    {% if name %}
<h1>Hi! I'm {{ name }}</h1>
{% else %}
<h1>Hello ERROR ERROR</h1>
{% endif %}


{% load staticfiles %}
href="{% static 'css/main.css' %}"
-->