@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: linear-gradient(to left, rgb(231, 231, 231), white);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-image: repeating-linear-gradient(to right, rgb(27, 27, 27), rgb(110, 110, 110));
    padding: 1em;
    margin: 0;
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.5em;
        span {
            color: #999999;
        }
    }
    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }
    .mobilemenu {
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    .container1 {
        opacity: 70%;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: .25em;
        div {
            padding: 1em;
            flex: 1;
        }
        .box1 {
            background-color: rgb(230, 230, 230);
        }
        .box2 {
            background-color: rgb(190, 190, 190);
        }
    }
    .container2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: .25em .25em .25em 0em;
        p {
            color: white;
        }
        div {
            padding: 1em;
            flex: 1;
        }
        .box1 {
            background-color: rgb(150, 150, 150);
        }
        .box2 {
            background-color: rgb(110, 110, 110);
        }
        .box3 {
            background-color: rgb(70, 70, 70);
        }
        .box4 {
            background-color: rgb(30, 30, 30);
        }
    }
}